ONEGLANSE_APP_MODE=local

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=redis

# Optional browser overrides
CAMOUFOX_HEADLESS_MODE=virtual
# CAMOUFOX_PYTHON_BIN=python3.11
# CAMOUFOX_PIP_SPEC=cloverlabs-camoufox==0.5.5
# CAMOUFOX_BROWSER_CHANNEL=official/stable/135.0.1-beta.24
# CAMOUFOX_USE_FULL_OS_FONTS=true
# DEBUG_ENABLED=true
